.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#ecc490, #ff7300);
  border-radius: 50%;
  position: fixed;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-30px);
    left: 5px;
    top: 50px;
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(30px);
    right: 5px;
    bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .circle {
    width: 80px;
    height: 80px;
  }
}
