@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* html,
  body {
    background: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    position: relative;
  } */

  .heroButton {
    @apply px-6 py-2 border border-black rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all  hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40  
  }

}