.heroButton {
  cursor: pointer;
  transition: all .4s;
 }
 
 .heroButton:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #eb992e,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .heroButton:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #eb992e,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }